{% extends "inicio.html" %}

{% load static %}

{% block content %}
{% if mensaje %}
<h2 class="fw-bolder card card-body p-5 text-center">{{ mensaje }}</h2>
{% else %}
<div class="col-md-4 offset-md-4 card card-body p-3 text-center">
<h3 class="fw-bolder">Alta de Proveedores:</h3>
<form action="{% url 'cargaProveedor' %}" class="card card-body p-5 text-center" method="POST"> {% csrf_token %}

<table>
    {{ formulario.as_table }}
</table>

<input class="btn btn-dark" type="submit", value="Guardar">

</form>
</div>
{% endif %}
{% endblock %}