{% extends "inicio.html" %}

{% load static %}

{% block content %}

{% if mensaje %}
<h2>{{ mensaje }}</h2>

{% else %}

<h1>Resultados:</h1>


{% for producto in productos %}
<ul class="list-group">
    <li class="list-group-item"><p>Codigo: {{ producto.codigo }}</p></li>
    <li class="list-group-item"><p>Nombre: {{ producto.nombre }}</p></li>
    <li class="list-group-item"><p>Marca: {{ producto.marca }}</p></li>
    <li class="list-group-item"><p>Tipo: {{ producto.tipo }}</p></li>
    <li class="list-group-item"><p>Cantidad: {{ producto.cantidad }}</p></li>
    <li class="list-group-item"><p>Precio: {{ producto.precio }}</p></li>
  </ul>
{% endfor %}


{% endif %}
{% endblock %} 